
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.logo {
    width: 250px;
    margin-bottom: 20px;
}
.container {
    margin-top: 100px;
}

h1 {
    font-size: 50px;
}

.tagline {
    color: lime;
    font-size: 20px;
}

.social-links a {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background: lime;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.social-links a:hover {
    background: white;
}