body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.logo {
    width: 200px;
    max-width: 80%;
    height: auto;
    margin-bottom: 15px;
}

.tagline {
    font-size: 18px;
    margin-bottom: 30px;
    color: lime;
}

.social-links {
    display: grid;
    grid-template-columns: 1fr;   /* mobile default */
    gap: 15px;
    /* width: 65%;  */
    margin: 0 auto;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 16px 24px;
    /* width: 65%; */
    /* margin: 0 auto; */
    text-decoration: none;
    font-weight: bold;
    background: #111;
    color: white;
    border: 4px solid lime;
    border-radius: 14px;
    transition: 0.3s;
}


.social-btn:hover {
    background: rgb(8, 214, 8);
    color: black;
}

.social-btn i {
    font-size: 18px;
}
@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }

    .logo {
        width: 250px;
    }

    .tagline {
        font-size: 22px;
    }

    .social-btn {
        font-size: 16px;
    }
}
@media (min-width: 786px) {
    .social-links {
        grid-template-columns: 1fr 1fr;  /* 2 columns on desktop */
    }
}
